<!--
Name: Olivia Shanley
Course: CSC 415
Semester: Fall 2017
Instructor: Dr. Pulimood 
Project name: RescU 
Description: An platform to help facilitate animal rescues
Filename: dashboard.html.erb
Description: HTML for user dashboard depending on user type. Rescue Users see recent reports, while Citizen Users see recent updates on their reports.
-->

<% if current_user.org_user %>
  <div class="dashboard-text">
    <h1> New Reports </h3> 
    <span>Last login: <%= current_user.last_login.strftime("%e %b %y %I:%M %p") %></span>
  </div>
  
  <table class="table table-hover">
    <thead>
      <tr>
        <th> Title </th>
        <th> Description </th>
        <th> Severity </th>
        <th> Status </th>
        <th> Created </th>
        <th> Last Updated </th>
        <th>  </th>
        <th>  </th>
      </tr>
    </thead>
       
  <% if @reports.size == 0%>
  </table>    
  
  <div class="dashboard-alert">
    <h4> Woohoo!</h4>
    <p> There are no new reports since your last login! </p>
    <p> Keep up the great work! </p>
    <%= button_to "Manage Reports", reports_path, :method => :get %>
  </div>

  <% else %>
    <tbody> 
      <% @reports.each do |report| %>
        <tr>
          <td><%= report.title %></td>
          <td><%=h truncate(report.description, :length => 100) %></td>
          <td><%= report.severity %>
          <td><%= report.status %></td>
          <td><%= report.created_at.strftime("%e %b %y %I:%M %p") %>
          <td><%= report.updated_at.strftime("%e %b %y %I:%M %p")%>
          <td><%= link_to 'Review', edit_report_path(report), :method => :get %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
<% else %>
  <div class="dashboard-text">
    <h1> New Activity </h3> 
    <% if current_user.last_login.present? %>
      <span>Last login: <%= current_user.last_login.strftime("%e %b %y %I:%M %p") %></span>
    <% end %>
  </div>
  <table class="table table-hover">
    <thead>
      <tr> 
        <th> Title </th>
        <th> Description </th>
        <th> Severity </th>
        <th> Status </th>
        <th> Created </th>
        <th> Last Updated </th> 
        <th>  </th> 
        <th>  </th> 
      </tr>
    </thead>
  <% if @reports.size == 0 %>
  </table>
  <div class="dashboard-alert">
    <h4> No Recent Activity</h4>
    <p> There are no recent updates </p>
  </div>
  <% else %>
    <tbody>
      <% @reports.each do |report| %>
        <tr>
          <td><%= report.title %></td>
          <td><%=h truncate(report.description, :length => 100) %></td> 
          <td><%= report.severity %>
          <td><%= report.status %></td>
          <td><%= report.created_at.strftime("%e %b %y %I:%M %p") %>
          <td><%= report.updated_at.strftime("%e %b %y %I:%M %p")%>
          <td><%= link_to 'Edit', edit_report_path(report), :method => :get %></td>   
          <td><%= link_to 'Delete', report_path(report), data: { confirm: "Are you sure you want to delete this report?" }, :method => :delete%></td>   
        </tr>
      <% end %> 
    </tbody>
  <% end %>  
  </table>
  <%= button_to "My Reports", reports_path, :method => :get %>
<% end %>
