<h1> Reports </h1>

  <table>
    <tr> 
      <th> Title </th>
      <th> Description </th>
      <th> Severity </th> 
    </tr>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.title %></td>
        <td><%= report.description %></td> 
        <td><%= report.severity %>
        <td><%= link_to 'Edit', edit_report_url(report)%></td>   
        <td><%= link_to 'Delete', report_path(report), data: { confirm: "Are you sure you want to delete this report?" }, :method => :delete%></td>   
      </tr>
    <% end %>
  </table>
