=begin
Name: Olivia Shanley
Course: CSC 415
Semester: Fall 2017
Instructor: Dr. Pulimood 
Project name: RescU 
Description: An platform to help facilitate animal rescues
Filename: reports/index.html.erb
Description: Reports view for both users. Servers as "Manage Reports" page for rescue users, and "My Reports" for Citizen Users.
=end

<h1> Reports </h1>
<!-- Rescue View -->
<% if current_user.org_user %>   
  <!-- Tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#investigating">Investigating</a></li>
    <li><a data-toggle="tab" href="#needs-review">Needs Review</a></li>
    <li><a data-toggle="tab" href="#new">New</a></li>
    <li><a data-toggle="tab" href="#closed">Closed</a></li>
  </ul>
 
<!-- Tab content -->
  <div class="tab-content">

    <div id="investigating" class="tab-pane fade in active">   
      <% @reports = Report.all %>
      <% @reports = @reports.where("status LIKE ?", 'Under Investigation') %>
      <%= render "table" %>
    </div>
  
    <div id="needs-review" class="tab-pane fade">
      <% @reports = Report.all %>
      <% @reports =  @reports.where("status LIKE ?", 'Pending Review') %>
      <%= render "table" %>
    </div>
  

     <div id="new" class="tab-pane fade">
      <% @reports = Report.all %>
      <% @reports =  @reports.where("created_at >= ?", current_user.last_login) %>
      <%= render "table" %>
    </div>

    <div id="closed" class="tab-pane fade">
      <% @reports = Report.all %>
      <% @reports =  @reports.where("status LIKE ?", 'Closed') %>
      <%= render "table" %>
    </div>

  </div>

<!-- Citizen View -->
<% else %>
  <%= render "table" %>
<% end %>
