<!--
Name: Olivia Shanley
Course: CSC 415
Semester: Fall 2017
Instructor: Dr. Pulimood 
Project name: RescU 
Description: An platform to help facilitate animal rescues
Filename: sessions/new.html.erb
Description: Login page
-->

<div class="login">
  <div class="container">
    <div class="form">
      <h1>Log in</h1>
        <%= form_for(:session, url: login_path) do |f| %>
        <%= f.email_field :email, :placeholder => "Email" %>
        <%= f.password_field :password, :placeholder => "Password" %>
        <%= f.submit "Log in", class: "btn-submit" %>
        <% end %>
      <p>New user? <%= link_to "Sign up now!", signup_path %></p>
    </div>
  </div>
</div>
