<h3 class="text-center"> Create an account</h3>
<div class="col-md-2"></div>

<div class="col-md-8">
  <%= form_for @user, :html=> {:class => "form"} do |f| %>
    <% if @user.errors.any? %>
      <%= flash[:error] = "Please fix the following errors" %><br>
      <% @user.errors.full_messages.each do |message| %>
        <%= message %><br>
      <% end %>
    <% end %>
    
    <div class="form-group">
      <%= f.label :first_name, "First Name", class: "col-md-4 control-label" %>
      <%= f.text_field :first_name, :placeholder => "First Name", class: "form-control" %>
    </div>
    <br>
    <div class="form-group">
      <%= f.label :last__name, "Last Name", class: "col-md-4 control-label" %>
      <%= f.text_field :last_name, :placeholder => "Last Name", class: "form-control" %>
    </div>
    <br>
    <div class="form-group">
      <%= f.label :email, "Email", class: "col-md-4 control-label" %>
      <%= f.text_field :email, :placeholder => "Email", class: "form-control" %>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <%= f.label :password, "Password", class: "col-md-4 control-label" %>
      <%= f.password_field :password, :placeholder => "Password", class: "form-control" %>
      <br>
       <%= f.password_field :password_confirmation, :placeholder => "Confirm password", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :org_user, "I am a: ", class: "col-md-4 control-label" %>
      <%= f.select :org_user, options_for_select([['Concerned Citizen', false], ['Animal Rescuer', true]]), :selected => true %>
    </div>
    <%= button_to('Submit', new_user_path, :class => "btn btn-primary") %>
  <% end %>
</div>
