=begin
Name: Olivia Shanley
Course: CSC 415
Semester: Fall 2017
Instructor: Dr. Pulimood 
Project name: RescU 
Description: An platform to help facilitate animal rescues
Filename: application.html.erb
Description: HTML for entire application. Contains header and footer.
=end

<!DOCTYPE html>
<html>
  <head>
    <title>Rescu</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'application', 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
      
    <title>RescU</title>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <%= link_to 'RescU', current_user.present? ? dashboard_path : root_path, :class=> "navbar-brand" %>
      <ul class="nav navbar-nav">
        <% if current_user.present? %>
          <li class="nav-item"> <%= link_to "Dashboard", dashboard_path %> </li>
          <% if current_user.org_user %>
            <li class="nav-item"> <%= link_to "Manage Reports", reports_path %> </li>
            <li class="nav-item"> <%= link_to "Search", search_path %> </li>
          <% else %>
            <li class="nav-item"> <%= link_to "My Reports", reports_path %> </li>
            <li><%= button_to "New Report", new_report_path, :method => :get, :class => "btn navbar-btn" %></li>
          <% end %>
        <% end %>  
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user.present? %>
          <li class="nav-item">
            <span class="navbar-text">  Logged in as <%= current_user.first_name%> </span>
          </li>
          <li class="nav-item"> <%= link_to "Log Out", logout_path, method: "delete" %> </li>
          <% else %>
            <li class="nav-item"> <%= link_to "Sign In", login_path %> </li>
            <li  class="nav-item"> <%= link_to "Sign Up", signup_path%> </li>
          <% end %>
        </span> 
      </ul>
    </nav>
    
    <!<-- Display any error messages -->
    <% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>">
            <%= value %>
      </div>
  <% end %>  

  <%= yield %>  
</body>
</html>
